

<!-- Board placeholder -->
<div ng-controller="BoardWidgetController">

	<!-- Controls placeholder -->
	<div id="board-buttons"> 

		<button type="button" ng-click="chessService.goStart()" class="btn btn-default" id="btnStart"><i class="fa fa-fast-backward fa-lg"></i></button>
		<button type="button" ng-click="chessService.goBack()" class="btn btn-default" id="btnPrevious"><i class="fa fa-step-backward fa-lg"></i></button>
		<button type="button" ng-click="chessService.goNext()" class="btn btn-default" id="btnNext"><i class="fa fa-step-forward fa-lg"></i></button>
		<button type="button" ng-click="chessService.goEnd()" class="btn btn-default" id="btnEnd"><i class="fa fa-fast-forward fa-lg"></i></button>
		<button type="button" ng-click="chessService.getCurrentBoard().flip()" style="float:right"class="btn btn-default" id="btnEnd">Flip <i class="fa fa-arrows-v fa-lg"></i></button>
	</div>
</div>

<!--script src="/assets/pgnviewer/js/pgnviewer.js"></script-->
<script>
   //require(['angular','jquery'], function (angular, $) {
   //});
</script>
