<style>

  .body {
    padding-left: 50px;
    padding-bottom: 30px;
  }

  .thumb {
    width: 200px;
    background-color: rgba(55,55,55,0.25);
    padding: 30px;
    float:left;
    margin: 20px;
  }

  .thumb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .thumb .btn {
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .widget {
    padding: 40px;
    overflow: auto;
  }
</style>
<div class="widget col-md-11">
  <div class="thumb">
    <div >
      <a href="/#/play"><img alt="" height="128" src="/assets/template/img/custom/play.png"/></a>
    </div>
    <div>
      <a class="btn btn-lg btn-primary" href="/#/play">Play</a>
    </div>
  </div>
  <div class="thumb">
    <div>
      <a href="/#/analyse"><img alt="" height="128" src="/assets/template/img/custom/analyse.png"/></a>
    </div>
    <div>
      <a class="btn btn-lg btn-primary" href="/#/analyse">Analyse</a>
    </div>
  </div>
  <div class="thumb">
    <div>
      <a href="/#/games"><img alt="" height="128" src="/assets/template/img/custom/view.png"/></a>
    </div>
    <div>
      <a class="btn btn-lg btn-primary" href="/#/games">Games</a>
    </div>
  </div>
</div>

<!--div ng-include src="'partials/modal-loadpgn.html'" > </div-->
