<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./logs/application.log</file>
    <encoder>
      <pattern>[%-5level] [%date] %message%n%xException{5}</pattern>
    </encoder>
  </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
      		<pattern>[%-5level] [%date] %message%n%xException{5}</pattern>
        </encoder>
    </appender>

  <root level="DEBUG">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>